<html>
	<head>
		<title>Bulba-blog</title>
	</head>
	<body>
		<div>
			<h1><a href="/">Bulba-blog</a></h1>
		</div>

		<div>
			<p>published: 11.04.2020, 14:14</p>
			<h2><a href="">In_da_house-post</a></h2>
			<p>Ya steklyannaya Galyashka, Ya Kaklyushka-kolotushka!<p>
		</div>

		<div>
			<p>published: 11.04.2020, 14:16</p>
			<h2><a href="">Vyiberi svoego Geka</a></h2>
			<ol>
			<li>Glek</li>
			<li>Shmek</li>
			<li>Lyaoshka</li>
			<li>Chyipyirka</li>
			<li>Chmerka</li>
			<li>Pypyish anf Pypyishka</li>
			<li>Maslorick</li>
			<li>Lyagok</li>
			</ol>

	</body>
</html>